#index-of-posts {
    position: absolute;
    width: 240px;
    height: 800px;
    top: 180px;
    margin-left: 555px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';
    font-size: 14px;
    border: none;
}

header {
    position: block;
    margin-top: 150px;
    margin-left: 32px;
    width: 757px;
    height: 38px;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #003399;
}

.narrow_article_width {
    width: 650px;

}

#headsp {

    margin-bottom: 1em;
}

#cmline {
    text-align: right;
    font-size: 10pt;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';

}

.highlight {
    background-color: #ffff00;
    width: 500px;
    padding: 2em;

}

#inset1984 {

    padding: 1em;
    border: 0px;
    background-color: #f1f1f1;
    width: 400px;
    margin-left: 3.5em;
    font-size: 14pt;
}

#code1 {
    height: 200px;

}

.error_red {
    color: red;
}

#code2 {
    # margin-left: 2em;
    padding-left: 2em;
}

.green_code {
    background-color: #99CC99;
    font-family: Consolas;
    /*padding_top: 2em;*/
    /*padding_left: 10em;*/
    /*padding_bottom:20px;*/
    border: 0px;
    width: 500px;
    padding-top: 1em;
    padding-bottom: 0em;
    font-size: 10pt;

}

.right_picture {
    /*position:relative;*/
    float: right;
    /*# display:block;*/
    margin-left: 1em;
}

.computer_internal {
    width: 600px;
    height: 496px;

}

.line_thru {
    text-decoration: line-through;
}

.caption {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';
    font-style: Italic;
    margin-left: 6em;
}

.firstcharacter {
    float: left;
    color: #003399;
    background-color: #AAAAAA;
    font-size: 40px;
    margin-right: 4px;
    line-height: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2px;
    padding-left: 3px;
    font-family: Georgia;
}

.embedded_aside {
    background-color: #99CC99;
    padding: 0.5em;
    width: 400px;
    margin-left: 3.5em;
    font-size: 12pt;
    text-align: center;
    border: 1px solid black;
}

.grey_code {
    font-family: Consolas;
    font-size: 10pt;
    padding: 1em;
    border: 0px;
    background-color: #f1f1f1;
    width: 400px;
    margin-left: 3.5em;
}

figure {
    position: block;
    margin-left: 35px;
    margin-right: 35%;
    width: 600px;
}

figure img {
    width: 500px;
}

nav p:first-child {
    color: #003399;
    font-size: 20px;
    margin-left: -1em;
}

nav p {
    margin-left: -0.5em;
    margin-top: -0.25em;
}

nav p a:link {
    color: #003399;
    margin-left: 1em;

}

nav p a:visited {
    color: #603360;
}

nav p a:hover {
    color: #6033F0;
}

main {
    position: block;
    margin: 3em 35% 5em 35px;
    left: 23px;

    height: 449px;
    font-family: 'HelveticaNeue', 'Helvetica Neue';
    font-size: 14px;
    line-height: 20px;
    color: #505050;

}

h2 {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';
    font-size: 18px;
}

.emphasis {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';

    font-weight: 700;
    color: black;
}

#title-style {
    color: #606060;
    font-size: 16px;
    margin-top: -0.15em;

}

#nameplate {
    position: absolute;
    margin-left: 500px;
    margin-bottom: 60px;
    font-size: 20px;
    top: 40px;
    width: 240px;
    height: 60px;
    font-family: 'HelveticaNeue', 'Helvetica Neue';
    font-style: normal;
    color: #003399;
}

footer {
    margin-top: 3em;
    border-top: 2px groove #606060;
}