table {
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'sans-serif';
    font-size: 13px;
    text-align: left;
    margin-left: 3em;
}

h1 {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';
    font-size: 14px;
    color: #003399;
    padding-top:0.5em;
}

h2 {
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue', 'sans-serif';
    font-size: 14px;
    color: #003399;
    padding-top: 1em;
}

td {
    font-size: 12px;
    font-family: 'Consolas', 'Courier', 'mono';
    font-weight: 500;
    background-color: #EFEFEF;
    width: 15em;
    height: 2em;
    padding:3px;
}

.command {
    color: blue;
}

.comment {
    color: green;
    font-family: 'Consolas-Italic', 'Courier', 'mono';
    height: 1em;
}

.code-comment {
    color: green;
    font-family: 'Consolas-Italic', 'Courier', 'mono';
    width: 30em;
    background-color: #F9F9F9;
    height: 1em;
}

.rbclass {
    color: purple;
}

.code {
    width: 30.5em;
    background-color: #F9F9F9;
    height: 1em;
}

.code-2 {
    width: 30.5em;
    background-color: #EFEFEF;
    height: 1em;
}
.reg-code {
    font-size: 12px;
    color: black;
    font-family: 'Consolas', 'Courier', 'mono';
}

.caption {
    font-family: 'HelveticaNeue-Italic', 'Helvetica Neue', 'sans-serif';
    font-size: 13px;
    width: 60.5em;
    background-color: #F9F9F9;
    margin-top: 1.5em;
    margin-left: 2em;
    height: 1em;
    /*color: #4C8CFF;*/
    color: purple;
}
.announcement {
    font-family: 'HelveticaNeue-Italic', 'Helvetica Neue', 'sans-serif';
    font-size: 15px;
    width: 60.5em;
    background-color: #F9F9F9;
    margin-top: 1em;
    margin-left: 1em;
    height: 1em;
    color: purple;
}
.variable {
    color: #197183;
    font-family: 'Consolas', 'Courier', 'mono';
}

.embed-code {
    font-family: 'Consolas', 'Courier', 'mono';
    color: black;
}

.zero-height {
    height: 0px;
    background-color: #F9F9F9;

}
tr.command {
color: red;
}